<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <a href="/signup">
      <button>SIGN UP</button>
    </a>

    <a href="/login">
      <button>LOG IN</button>
    </a>
    <div class="index-container">
      <% messages.forEach(message => { %>
        <div class="message">
          <h2><%= message.title %></h2>
          <p><%= message.message %></p>
          <p>Sign in join club to see who wrote a message and when </p>

        </div>
      <% }) %>
    </div>
  </body>
</html>
